@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 0 0% 63%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 20 7% 90%;
    --card: 0 0% 10%;
    --card-foreground: 20 7% 90%;
    --primary: 239 100% 88%;
    --primary-foreground: 240 66% 25%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 20 7% 90%;
    --muted: 0 0% 7%;
    --muted-foreground: 0 1% 67%;
    --accent: 0 0% 15%;
    --accent-foreground: 20 7% 90%;
    --destructive: 352 72% 70%;
    --destructive-foreground: 20 7% 90%;
    --border: 0 0% 28%;
    --input: 0 0% 15%;
    --ring: 239 100% 88%;
    --radius: 0.375rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  code,
  .font-mono {
    font-variant-numeric: tabular-nums;
  }
}
